*~
*.#*
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.pdf
*.html
/06_chat_system/TeamBot/target/
/05_linux_desktop/CheckIn/target/
/07_aqs_bot/TeamBot/target/
/08_aqs_bot_2/TeamBot/target/
/10_servlet_hosting/mailing_list/target/
