/*
CSS file for automation module documents
Peadar Grant
*/

body {
    font-family: sans-serif;
    background-color: rgb(245,245,245);
}

#TOC {
    padding: 10px;
    background-color: lightyellow;
}

h1.title {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 150%;
}

h1 {
    background-color: lightcyan;
    padding: 5px;
    font-size: 120%;
}

h2 {
    color: darkblue;
    font-size: 100%;
}

h3 {
    color: darkgreen;
    font-size: 100%;
}

code {
    font-weight: bold;
    font-size: 120%;
}

pre {
    font-size: 120%;
    padding: 0.5em;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(100,100,100);
    background-color: rgb(245,255,245);
}

/* end */
